.card-wrapper {
  width: 100%;
  margin: auto;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 100%;
  /* height: 100%; */
}
.extra-trigger {
  margin-top: -80svh;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  > * {
    grid-area: 1 / 1 / 2 / 2;
  }
}
