{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@codewinglet/utils": ["./src/utils/index.ts"]
        }
      }
    ]
  ]
}
