@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');

* {
  letter-spacing: 0.5px;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 5px;
}

.submenus ::-webkit-scrollbar {
  /* width: 1px !important; */
  height: 4px !important;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 10px;
}

iframe {
  filter: invert(5%) grayscale(1);
}

iframe .gm-style-mtc {
  display: none;
}

.about-why-work .slick-initialized .slick-slide {
  width: auto !important;
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

/* Our Work Process */

.process-card h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #141414;
  color: transparent;
}

/* Testimonial Section */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.address svg {
  width: 15.7%;
}

.technology-hero {
  position: relative;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(255 255 255 / 30%);
  color: transparent;
}

@media only screen and (min-width: 320px) and (max-width: 639px) {
  .process-card h1 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1980px) {
  .professional-img {
    width: 15% !important;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1410px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .container {
    max-width: 1280px;
  }

  .address svg {
    width: 19.8%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .container {
    max-width: 1280px;
  }
  .address svg {
    width: 19.8%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 948px;
  }
  .process-card h1 {
    font-size: 46px;
  }
  .address svg {
    width: 6.2%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 100%;
  }
  .process-card h1 {
    font-size: 38px;
    margin-bottom: 20px;
    line-height: 40px;
  }

  .address svg {
    width: 11.1%;
  }
  #combination .slick-arrow.slick-prev {
    left: 45% !important;
  }
  #combination .slick-arrow.slick-next {
    right: 46% !important;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .container {
    max-width: 100%;
  }

  .process-card h1 {
    font-size: 46px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 639px) {
  .container {
    max-width: 100%;
  }
  .about_box {
    width: 100%;
  }
  .process-card h1 {
    margin-bottom: 10px;
  }
  .address svg {
    width: 14.4%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    max-width: 100%;
  }
  .process-card h1 {
    margin-bottom: 10px;
    font-size: 26px;
    -webkit-text-stroke-width: 1px;
    line-height: normal;
  }
  .address svg {
    width: 14.4%;
  }
  .client_img {
    background-image: none !important;
  }

  .why-work .slick-slider .slick-prev {
    left: 40% !important;
  }

  .why-work .slick-slider .slick-next {
    left: 50% !important;
  }

  #combination .slick-arrow.slick-prev {
    left: 39% !important;
  }
  #combination .slick-arrow.slick-next {
    right: 39% !important;
  }
}

/* styles.css for accordian open */
.AccordionContent {
  overflow: hidden;
}
.AccordionContent[data-state='open'] {
  animation: slideDown 400ms ease-out;
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 400ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.border-remove > div {
  border-left: none;
  margin-bottom: 0px;
}
.faq > div {
  padding-bottom: 25px;
}
