// footer {
//   background: #000;
//   color: #fff;
//   position: relative;
//   padding: 5rem 0;
// }

// .container {
//   max-width: 1410px;
//   width: 100%;
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
// }

// footer .footer_text {
//   display: flex;
//   padding: 15px;
//   position: relative;
// }

// .row {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   margin-right: -15px;
//   margin-left: -15px;
// }

// .col-md-3 {
//   -ms-flex: 0 0 25%;
//   flex: 0 0 25%;
//   max-width: 25%;
//   position: relative;
//   width: 100%;
//   min-height: 1px;
//   padding-right: 15px;
//   padding-left: 15px;
// }

// .box-bg {
//   position: absolute;
//   transform: translate(-50%, -50%);
//   top: 50%;
//   left: 50%;
// }

// .footer_des {
//   margin: 15px 0 0 0;
//   line-height: normal !important;
//   font-weight: 300;
// }

// footer h5 {
//   font-size: 25px !important;
//   font-weight: 400 !important;
//   margin: 0 0 20px;
// }

// .footer_menu {
//   font-size: 16px;
//   font-weight: 300;
//   margin: 0 0 5px 0;
//   min-height: 0;
//   line-height: 34px;
// }

// .address {
//   line-height: normal !important;
// }

// .footer2 {
//   padding: 40px 15px 0;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   position: relative;
// }

// .footer2 .icon {
//   display: flex;
//   gap: 1.25rem;
// }

// .f_social_bg {
//   border: 1px solid #fff;
//   border-radius: 50%;
//   width: 2rem;
//   height: 2rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .all-reserved {
//   font-size: 16px;
//   font-weight: 300;
// }

// .terms {
//   display: flex;
//   gap: 1.75rem;
// }

$bg-color: #000;
$text-color: #fff;

@mixin fontSize {
  font-size: 16px;
  font-weight: 300;
}

@mixin pRelative {
  @include pRelative;
}

@mixin displayFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin onlyFlex {
  display: flex;
}

@mixin padding {
  padding-right: 15px;
  padding-left: 15px;
}

footer {
  background: $bg-color;
  color: $text-color;
  position: relative;
  padding: 5rem 0;
  .footer_text {
    display: flex;
    padding: 15px;
    position: relative;
  }
  h5 {
    font-size: 25px !important;
    font-weight: 400 !important;
    margin: 0 0 20px;
  }
}
.container {
  max-width: 1410px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.box-bg {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.footer_des {
  margin: 15px 0 0 0;
  line-height: normal !important;
  font-weight: 300;
}
.footer_menu {
  @include fontSize;
  margin: 0 0 5px 0;
  min-height: 0;
  line-height: 34px;
}
.address {
  line-height: normal !important;
}
.footer2 {
  @include displayFlex;
  justify-content: space-between;
  padding: 40px 15px 0;
  position: relative;
  .icon {
    display: flex;
    gap: 1.25rem;
  }
}
.f_social_bg {
  @include displayFlex;
  border: 1px solid $text-color;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.all-reserved {
  @include fontSize;
}
.terms {
  display: flex;
  gap: 1.75rem;
}

.terms-text {
  @include fontSize;
}

// media query
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  footer {
    padding: 2rem 0;
  }
  .box-bg {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  footer {
    padding: 3rem 0;
  }
  .box-bg {
    display: none;
  }
  .footer_des {
    font-size: 15px;
  }
  .footer_menu {
    margin: 0 0 3px 0;
  }
  .footer2 .icon {
    gap: 0.75rem;
  }
  .footer2 {
    padding: 10px 15px 0;
  }
  .all-reserved {
    font-size: 14px;
  }
  .terms-text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer {
    padding: 3rem 0;
  }
  .box-bg {
    display: none;
  }

  .col-sm-12 {
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
  }
  .footer2 {
    flex-direction: column;
    gap: 15px;
    padding: 10px 15px 0;
  }
  .all-reserved {
    text-align: center;
    order: 3;
  }
  .terms {
    order: 2;
  }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
  footer {
    padding: 3rem 0;
  }
  .box-bg {
    display: none;
  }

  .col-sm-12 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .footer2 {
    flex-direction: column;
    gap: 15px;
    padding: 10px 15px 0;
  }
  .all-reserved {
    text-align: center;
    order: 3;
  }
  .terms {
    order: 2;
  }
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
  footer {
    padding: 3rem 0;
  }
  .box-bg {
    display: none;
  }

  .col-sm-12 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .footer2 {
    flex-direction: column;
    gap: 15px;
    padding: 10px 15px 0;
  }
  .all-reserved {
    text-align: center;
    order: 3;
  }
  .terms {
    order: 2;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  footer {
    padding: 3rem 0;
  }
  .box-bg {
    display: none;
  }

  .col-sm-12 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .footer2 {
    flex-direction: column;
    gap: 15px;
    padding: 10px 15px 0;
  }
  .all-reserved {
    text-align: center;
    order: 3;
  }
  .terms {
    order: 2;
  }
}
