.box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.box span {
  position: absolute;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  animation: animate 6s linear infinite;
  animation-delay: calc(1s * var(--i));
  background: #000;
  box-shadow: 0px 0px 238px rgba(73, 73, 73, 0.65);
}

.box span:nth-child(10n + 1) {
  background: #000;
  opacity: 0%;
}
.box span:nth-child(10n + 2) {
  background: #000;
  opacity: 20%;
}
.box span:nth-child(10n + 3) {
  background: #000;
  opacity: 40%;
}
.box span:nth-child(10n + 4) {
  background: #000;
  opacity: 60%;
}
.box span:nth-child(10n + 5) {
  background: #000;
  opacity: 80%;
}
.box span:nth-child(10n + 6) {
  background: #000;
  opacity: 100%;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 1080px;
    height: 1080px;
    opacity: 0;
  }
}

/* Media Query */

@media only screen and (min-width: 1600px) and (max-width: 1799px) {
  @keyframes animate {
    0% {
      width: 0px;
      height: 0px;
    }
    50% {
      opacity: 1;
    }
    100% {
      width: 820px;
      height: 820px;
      opacity: 0;
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  @keyframes animate {
    0% {
      width: 0px;
      height: 0px;
    }
    50% {
      opacity: 1;
    }
    100% {
      width: 600px;
      height: 600px;
      opacity: 0;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  @keyframes animate {
    0% {
      width: 0px;
      height: 0px;
    }
    50% {
      opacity: 1;
    }
    100% {
      width: 720px;
      height: 720px;
      opacity: 0;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  @keyframes animate {
    0% {
      width: 0px;
      height: 0px;
    }
    50% {
      opacity: 1;
    }
    100% {
      width: 730px;
      height: 730px;
      opacity: 0;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .box {
    top: 36%;
  }

  @keyframes animate {
    0% {
      width: 0px;
      height: 0px;
    }
    50% {
      opacity: 1;
    }
    100% {
      width: 750px;
      height: 750px;
      opacity: 0;
    }
  }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
  .box {
    top: 36%;
  }

  @keyframes animate {
    0% {
      width: 0px;
      height: 0px;
    }
    50% {
      opacity: 1;
    }
    100% {
      width: 520px;
      height: 520px;
      opacity: 0;
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
  .box {
    top: 36%;
  }

  @keyframes animate {
    0% {
      width: 0px;
      height: 0px;
    }
    50% {
      opacity: 1;
    }
    100% {
      width: 350px;
      height: 350px;
      opacity: 0;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .box {
    top: 36%;
  }

  @keyframes animate {
    0% {
      width: 0px;
      height: 0px;
    }
    50% {
      opacity: 1;
    }
    100% {
      width: 350px;
      height: 350px;
      opacity: 0;
    }
  }
}
